{% extends 'base.html.twig' %}

{% block title %}ChefDepartement{% endblock %}

{% block body %}
    <h1>ChefDepartement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chef_departement.id }}</td>
            </tr>
            <tr>
                <th>DateDebutMandat</th>
                <td>{{ chef_departement.dateDebutMandat ? chef_departement.dateDebutMandat|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chef_departement_index') }}">back to list</a>

    <a href="{{ path('app_chef_departement_edit', {'id': chef_departement.id}) }}">edit</a>

    {{ include('chef_departement/_delete_form.html.twig') }}
{% endblock %}
