{% extends 'base.html.twig' %}

{% block title %}SalleCours index{% endblock %}

{% block body %}
    <h1>SalleCours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomSalle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle_cour in salle_cours %}
            <tr>
                <td>{{ salle_cour.id }}</td>
                <td>{{ salle_cour.nomSalle }}</td>
                <td>
                    <a href="{{ path('app_salle_cours_show', {'id': salle_cour.id}) }}">show</a>
                    <a href="{{ path('app_salle_cours_edit', {'id': salle_cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salle_cours_new') }}">Create new</a>
{% endblock %}
