{% extends 'base.html.twig' %}

{% block title %}Reglement{% endblock %}

{% block body %}
    <h1>Reglement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reglement.id }}</td>
            </tr>
            <tr>
                <th>OntantReglement</th>
                <td>{{ reglement.ontantReglement }}</td>
            </tr>
            <tr>
                <th>DateReglement</th>
                <td>{{ reglement.dateReglement ? reglement.dateReglement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reglement_index') }}">back to list</a>

    <a href="{{ path('app_reglement_edit', {'id': reglement.id}) }}">edit</a>

    {{ include('reglement/_delete_form.html.twig') }}
{% endblock %}
