{% extends 'base.html.twig' %}

{% block title %}PayementReason{% endblock %}

{% block body %}
    <h1>PayementReason</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payement_reason.id }}</td>
            </tr>
            <tr>
                <th>LibelleRaison</th>
                <td>{{ payement_reason.libelleRaison }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_payement_reason_index') }}">back to list</a>

    <a href="{{ path('app_payement_reason_edit', {'id': payement_reason.id}) }}">edit</a>

    {{ include('payement_reason/_delete_form.html.twig') }}
{% endblock %}
