{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Motdepasse</th>
                <th>Numerotelephone</th>
                <th>Cni</th>
                <th>DateNaissance</th>
                <th>LieuNaissance</th>
                <th>Sexe</th>
                <th>Adresse</th>
                <th>Profession</th>
                <th>PhotoProfil</th>
                <th>DateCreation</th>
                <th>DateModification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.motdepasse }}</td>
                <td>{{ utilisateur.numerotelephone }}</td>
                <td>{{ utilisateur.cni }}</td>
                <td>{{ utilisateur.dateNaissance ? utilisateur.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ utilisateur.lieuNaissance }}</td>
                <td>{{ utilisateur.sexe }}</td>
                <td>{{ utilisateur.adresse }}</td>
                <td>{{ utilisateur.profession }}</td>
                <td>{{ utilisateur.photoProfil }}</td>
                <td>{{ utilisateur.dateCreation ? utilisateur.dateCreation|date('Y-m-d') : '' }}</td>
                <td>{{ utilisateur.dateModification ? utilisateur.dateModification|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_new') }}">Create new</a>
{% endblock %}
