{% extends 'base.html.twig' %}

{% block title %}{{ 'incident.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'incident.edit'|trans }}</h1>

    {{ include('incident/_form.html.twig', {'button_label': 'action.update'|trans}) }}

    <div class="btn-group mt-3">
        <a href="{{ path('app_incident_index') }}" class="btn btn-secondary">{{ 'action.back_to_list'|trans }}</a>
        {{ include('incident/_delete_form.html.twig') }}
    </div>
{% endblock %}
