{% extends 'base.html.twig' %}

{% block title %}Incident index{% endblock %}

{% block body %}
    <h1>Incident index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>DateIncident</th>
                <th>Gravite</th>
                <th>TypeIncident</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for incident in incidents %}
            <tr>
                <td>{{ incident.id }}</td>
                <td>{{ incident.description }}</td>
                <td>{{ incident.dateIncident ? incident.dateIncident|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ incident.gravite }}</td>
                <td>{{ incident.typeIncident }}</td>
                <td>
                    <a href="{{ path('app_incident_show', {'id': incident.id}) }}">show</a>
                    <a href="{{ path('app_incident_edit', {'id': incident.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_incident_new') }}">Create new</a>
{% endblock %}
