{% extends 'base.html.twig' %}

{% block title %}{{ 'incident.new'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'incident.new'|trans }}</h1>

    {{ include('incident/_form.html.twig') }}

    <a href="{{ path('app_incident_index') }}" class="btn btn-secondary mt-3">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
