{% extends 'base.html.twig' %}

{% block title %}AnneeAcademique{% endblock %}

{% block body %}
    <h1>AnneeAcademique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annee_academique.id }}</td>
            </tr>
            <tr>
                <th>YearStart</th>
                <td>{{ annee_academique.YearStart ? annee_academique.YearStart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>YearEnd</th>
                <td>{{ annee_academique.YearEnd ? annee_academique.YearEnd|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IsCurrent</th>
                <td>{{ annee_academique.isCurrent ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annee_academique_index') }}">back to list</a>

    <a href="{{ path('app_annee_academique_edit', {'id': annee_academique.id}) }}">edit</a>

    {{ include('annee_academique/_delete_form.html.twig') }}
{% endblock %}
