{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
    <h1>Etudiant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Noms</th>
                <td>{{ etudiant.noms }}</td>
            </tr>
            <tr>
                <th>Prenoms</th>
                <td>{{ etudiant.prenoms }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ etudiant.age }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ etudiant.telephone }}</td>
            </tr>
            <tr>
                <th>AdresseStudent</th>
                <td>{{ etudiant.adresseStudent }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ etudiant.photo }}</td>
            </tr>
            <tr>
                <th>SexeEtudiant</th>
                <td>{{ etudiant.sexeEtudiant }}</td>
            </tr>
            <tr>
                <th>MatriculeStudent</th>
                <td>{{ etudiant.matriculeStudent }}</td>
            </tr>
            <tr>
                <th>StudentFather</th>
                <td>{{ etudiant.studentFather }}</td>
            </tr>
            <tr>
                <th>StudentMother</th>
                <td>{{ etudiant.studentMother }}</td>
            </tr>
            <tr>
                <th>Father_number</th>
                <td>{{ etudiant.fatherNumber }}</td>
            </tr>
            <tr>
                <th>Mother_number</th>
                <td>{{ etudiant.motherNumber }}</td>
            </tr>
            <tr>
                <th>StudentEmail</th>
                <td>{{ etudiant.studentEmail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_index') }}">back to list</a>

    <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
